#footer-frame{
    width:100%;
    border:1px solid black;
    position:relative;
    background:#333;
    margin-top:150px;
}

.footer{
    width:1200px;
    height:150px;
    border:0px solid #fff;
    margin:0 auto;
    position:relative;
    padding:40px 0;
    text-align: center;
    font-size:18px;
    color:#fff;
}

.footer p{
    margin-top:5px;
}