/*返税宝内容开始*/
#fs-frame{
    width:100%;
    border:0px solid black;
    position:relative;
    margin-top:150px;
}

.fs{
    width:900px;
    border:0px solid black;
    margin:0 auto;
    position:relative;
}

.fs-ul{
    width:100%;
    position:relative;
}

.fs-li{
    width:100%;
    height:70px;
    border:0px solid black;
    position:relative;
    overflow: hidden;
    margin-bottom:100px;
}

.fs-li img{
    float:left;
}

.fs-content{
    width:500px;
    height:100%;
    float:left;
    margin-left:60px;
    border:0px solid black;
}

.fs-title{
    font-size:18px;
    color:#333;
}

.fs-content ul{
    width:100%;
    overflow: hidden;
    margin-top:20px;
}

.fs-content ul li{
    float:left;
    margin-right:20px;
    font-size:12px;
    color:#999;
}

/*返税宝内容结束*/


/*专业解决方案开始*/

#fs-fn-frame{
    width:100%;
    border:0px solid black;
    position:relative;
    margin-top:100px;
}

.fs-fn{
    width:900px;
    border:0px solid black;
    margin:0 auto;
    position:relative;
}

.fs-fn p{
    font-size:18px;
    color:#333;
}

/*专业解决方案结束*/
















