#zb-frame{
    width:100%;
    border:0px solid black;
    position:relative;
    margin-top:90px;
}

.zb{
    width:1000px;
    border:0px solid black;
    margin:0 auto;
    position:relative;
}

.zb-title{
    font-size:32px;
    color:#333;
    text-align: center;
}

.zb-content-box{
    width:100%;
    height:410px;
    border:0px solid black;
    margin-top:80px;
    background:url(../images/zbbg.png) no-repeat;
    position:relative;
}

.zb-content{
    width:490px;
    height:180px;
    border:0px solid black;
    position:absolute;
    left:55px;
    top:110px;
}

.zb-content .zb-txt{
    font-size:12px;
    color:#999;
    text-indent: 2em;
    line-height: 20px;
}

.service-fn-txt{
    font-size:12px;
    color:#999;
    text-indent: 2em;
    line-height: 20px;
}

.zb-content-fg{
    width:100%;
    height:110px;
    border:0px solid black;
    position:absolute;
    bottom:5px;
}

.fg-left{
    width:130px;
    height:75px;
    border:0px solid red;
    position:absolute;
    left:45px;
    top:10px;
}

.fg-right{
    width:220px;
    height:95px;
    border:0px solid yellow;
    position:absolute;
    right:25px;
    top:10px;
}

.zb-content-fg .fg-left p,.zb-content-fg .fg-right p{
    font-size:12px;
    color:#999;
    line-height: 20px;
}

#service-fn-frame{
    width:100%;
    border:0px solid black;
    position:relative;
    margin-top:90px;
}

.service-fn{
    width:1000px;
    border:0px solid black;
    margin:0 auto;
    position:relative;
}

.servie-fn-content-box{
    width:100%;
    height:410px;
    border:0px solid black;
    margin-top:80px;
    background:url(../images/servicefnbg.png) no-repeat;
    position:relative;
}

.service-fn-content{
    width:470px;
    height:160px;
    border:0px solid black;
    position:absolute;
    right:60px;
    top:110px;
}

.servie-left{
    width:115px;
    height:75px;
    border:0px solid red;
    position:absolute;
    left:80px;
    top:75px;
}

.service-right{
    width:115px;
    height:45px;
    border:0px solid blue;
    position:absolute;
    right:90px;
    top:75px;
}

.servie-left p,.service-right p{
    font-size:12px;
    color:#999;
    line-height: 20px;
}

.doctor-fn-frame{
    width:100%;
    border:0px solid black;
    position:relative;
    margin-top:100px;
}

.doctor-fn{
    width:860px;
    border:0px solid black;
    position:relative;
    margin:0 auto;
}

.doctor-fn-title{
    font-size:32px;
    text-align: center;
}

.doctor-fn-content{
    width:100%;
    border:0px solid black;
    margin-top:60px;
}

.doctor-fn-content p{
    font-size:12px;
    color:#999;
    line-height: 20px;
    margin-bottom:10px;
}

#tel-frame{
    font-size:32px;
    color:#333;
    text-align: center;
    margin-top:80px;
}








