*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: 微软雅黑;
}

#downpayimg-frame{
    width:100%;
    border:0px solid black;
    position:relative;
}

.downpayimg{
    width:1200px;
    border:0px solid black;
    margin:0 auto;
    position:relative;
}

.payimg-box{
    width:250px;
    height:250px;
    margin:0 auto;
    position:relative;
    border:1px solid #909090;
}

.btn-box{
    width:100%;
    margin-top:50px;
    display: inline-block;
    text-align: center;
}

.down-btn{
    display: inline-block;
    width:300px;
    height:50px;
    background:#3a9be0;
    font-size:24px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color:#fff;
    border-radius: 5px;
    margin:0 25px 0 25px;
}

.down-btn2{
    display: inline-block;
    width:300px;
    height:50px;
    border:2px solid #3a9be0;
    font-size:24px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color:#3a9be0;
    border-radius: 5px;
    margin:0 25px 0 25px;
}