*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: 微软雅黑;
}

#companyrz1-frame{
    width:1000px;
    height:700px;
    border:0px solid black;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-500px;
    margin-top:-350px;
}

.rz1-title{
    font-size:24px;
    color:#333;
    border-left:5px solid #4c5d7b;
    text-indent: 1em;
}

.rz-bu-img{
    width:720px;
    height:60px;
    border:0px solid black;
    margin:0 auto;
    position:relative;
    margin-top:30px;
    overflow: hidden;
}

.rz-bu-txt{
    width:780px;
    height:60px;
    border:0px solid black;
    overflow: hidden;
    margin:0 auto;
    position:relative;
    margin-top:10px;
}

.rz-bu-txt p{
    font-size:24px;
    color:#333;
    float:left;
}

.rz-bu-txt p:nth-child(1){
    margin-left:10px;
}

.rz-bu-txt p:nth-child(2){
    margin-left:215px;
}

.rz-bu-txt p:nth-child(3){
    margin-left:240px;
}

.bu-ball{
    width:50px;
    height:50px;
    border:5px solid #4c5d7b;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size:30px;
    float:left;
}

.bu-ball.active{
    background:#4c5d7b;
    color:#fff;
}

.bu-line{
    float:left;
    width:220px;
    height:5px;
    background:#4c5d7b;
    margin-top:25px;
    margin:25px 15px 0 15px;
}

.rz1-msg{
    width:770px;
    border:0px solid red;
    margin:0 auto;
    position:relative;
}

.rz1-line{
    width:100%;
    height:42px;
    border:0px solid blue;
    margin:20px 0 40px 0;
    overflow: hidden;
}

.rz1-line:nth-child(3){
    height:auto;
}

.rz1-txt{
    width:230px;
    height:40px;
    font-size:18px;
    color:#333;
    text-align: right;
    line-height: 40px;
    float:left;
}

.rz1-input{
    width:500px;
    height:40px;
    border:0px solid black;
    float:left;
}

.rz1-input .txt{
    width:400px;
    height:40px;
    border:1px solid #ccc;
    text-indent: 1em;
}

.preview-box{
    width:200px;
    height:200px;
    border:0px solid black;
    float:left;
    cursor: pointer;
}

.file{
    float:left;
    opacity: 0;
}

.next{
    display: block;
    text-decoration: none;
    width:340px;
    height:70px;
    background:#4c5d7b;
    font-size:24px;
    color:#fff;
    text-align: center;
    line-height: 70px;
    margin:0 auto;
    border-radius: 10px;
}

.next:active{
    background:#3c495e;
}













