*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: 微软雅黑;
}

#upload-success-frame{
    width:100%;
    border:0px solid black;
    position:relative;
}

.upload-success{
    width:1200px;
    border:0px solid black;
    margin:0 auto;
    position:relative;
}

.success{
    display: block;
    margin:0 auto;
}

.back-order-btn{
    display: block;
    width:300px;
    height:50px;
    background:#4c5d7b;
    font-size:24px;
    color:#fff;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    margin:200px auto 0 auto;
}













