*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: 微软雅黑;
}

#confirm-frame{
    width:100%;
    border:0px solid black;
    position:relative;
}

.confirm{
    width:1200px;
    border:0px solid black;
    margin:0 auto;
    position:relative;
}

.confirm-title{
    font-size:18px;
    color:#333;
    border-left:4px solid #4c5d7b;
    text-indent: 1em;
}

.bc-box{
    width:580px;
    height:95px;
    border:0px solid black;
    margin:50px auto 0 auto;
    position:relative;
}

.confirm-fn-box{
    width:100%;
    height:40px;
    border:0px solid black;
    margin-top:50px;
}

.confirm-fn{
    width:300px;
    height:35px;
    border:0px solid black;
    float:left;
    margin:0 20px;
    font-size:12px;
    line-height: 35px;
    overflow: hidden;
}

.confirm-fn input{
    margin-left:15px;
}

.confirm-chack{
    display: block;
    width:60px;
    height:35px;
    background:#4c5d7b;
    text-decoration: none;
    color:#fff;
    text-align: center;
    line-height: 35px;
    float:left;
}

.confirm-clear{
    display: block;
    font-size:16px;
    color:#4c5d7b;
    float:right;
    line-height: 35px;
    text-decoration: none;
}

.confirm-clear:hover{
    text-decoration: underline;
}

.confirm-send-title{
    font-size:18px;
    border-left:4px solid #4c5d7b;
    text-indent: 1em;
    margin-top:50px;
}

.send-table{
    width:100%;
    border:0px solid black;
    margin:50px 0;
}

.send-table table{
    border:1px solid #909090;
    border-collapse: collapse;
}

.send-table table th{
    border:1px solid #909090;
    border-collapse: collapse;
    width:150px;
    height:50px;
    font-size:12px;
    background:#e2e5ea;
}

.send-table table td{
    font-size:12px;
    height:50px;
    border:1px solid #909090;
    text-align: center;
}

.confirm-service-table{
    width:100%;
    border:0px solid black;
    margin-top:50px;
}

.confirm-service-title{
    font-size:18px;
    border-left:4px solid #4c5d7b;
    text-indent: 1em;
    margin-top:50px;
}

.confirm-service-table-box{
    width:100%;
    border:0px solid black;
    margin-top:50px;
}

.confirm-service-table-box table{
    border:1px solid #909090;
    border-collapse: collapse;
}

.confirm-service-table-box th{
    border:1px solid #909090;
    border-collapse: collapse;
    width:100px;
    height:50px;
    background:#e2e5ea;
    font-size:12px;
}

.confirm-service-table-box td{
    text-align: center;
    border:1px solid #909090;
    height:50px;
    font-size:12px;
}

.send-btn-box{
    width:100%;
    height:50px;
    border:0px solid black;
    text-align: center;
    margin-top:50px;
    padding:20px 0;
}

.send-btn-box a{
    display: inline-block;
    margin:0 25px;
}

.send{
    width:300px;
    height:50px;
    background:#4c5d7b;
    font-size:24px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color:#fff;
    border-radius: 5px;
}

.cancel{
    width:300px;
    height:50px;
    background:#fff;
    border:2px solid #4c5d7b;
    font-size:24px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color:#4c5d7b;
    border-radius: 5px;
}

.send:active{
    background:#2d3749;
}
















