*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: 微软雅黑;
}

#company-order-frame{
    width:100%;
    border:0px solid black;
    position:relative;
}

.company-order-box{
    width:1200px;
    margin:0 auto;
    position:relative;
}

.company-order1{
    width:1230px;
    border:0px solid black;
    position:relative;
    margin:0 auto;
    overflow: hidden;
}

.order-fn-area1{
    width:250px;
    height:30px;
    border:0px solid red;
    position:relative;
    float:left;
    margin:0 25px;
    overflow: hidden;
}

.area1-txt{
    font-size:12px;
}

.area1-input{
    width:170px;
    height:25px;
    border:1px solid #ccc;
    float:right;
}

#order-state{
    width:170px;
    height:25px;
    border:1px solid #ccc;
    float:right;
}

.select-btn{
    display: block;
    width:60px;
    height:25px;
    float:left;
    font-size:14px;
    text-align: center;
    line-height: 25px;
    background:#3da4a0;
    color:#fff;
    text-decoration: none;
}

.select-btn:active{
    background:#286a67;
}

.select-clear{
    float:right;
    font-size:14px;
    color:#3da4a0;
    text-decoration: none;
    height:25px;
    line-height: 25px;
}

.select-clear:hover{
    text-decoration: underline;
}

.company-order2{
    width:1200px;
    border:0px solid black;
    position:relative;
    margin:50px auto 0 auto;
    overflow: hidden;
}

.add-order-btn{
    display: block;
    float:left;
    width:100px;
    height:25px;
    background:#3da4a0;
    font-size:14px;
    text-align: center;
    line-height: 25px;
    color:#fff;
    text-decoration: none;
}

.add-order-company{
    display: block;
    float:right;
    width:100px;
    height:25px;
    background:#3da4a0;
    font-size:14px;
    text-align: center;
    line-height: 25px;
    color:#fff;
    text-decoration: none;
    margin-right:60px;
}

.add-order-btn:active,.add-order-company:active{
    background:#286a67;
}

#company-order-select{
    width:170px;
    height:25px;
    float:right;
}

.company-order3{
    width:100%;
    height:400px;
    border:0px solid black;
    position:relative;
    margin-top:50px;
    text-align: center;
    line-height: 400px;
}

.company-order3 p{
    font-size:30px;
    color:#ccc;
}

.company-order4{
    width:100%;
    border:0px solid black;
    position:relative;
    margin-top:50px;
}

.company-order4 table{
    border-collapse: collapse;
}

.company-order4 table tr th,.company-order4 table tr td{
    border:1px solid #909090;
    border-collapse: collapse;
    font-size:12px;
}

.company-order4 table tr th{
    height:50px;
    border:1px solid #909090;
    border-collapse: collapse;
    background:#e2e5ea;
    font-size:12px;
}
.company-order4 table tr td{
    height:50px;
    text-align: center;
    font-size:12px;
}


.th-little{
    width:160px;
}

.th-big{
    width:320px;
}

.page-btn-box{
    width:100%;
    border:0px solid black;
    position:relative;
    margin-top:50px;
    text-align: center;
}

.page-btn-box a{
    display: inline-block;
}

.page-btn{
    width:20px;
    height:20px;
    border:1px solid #909090;
    text-decoration: none;
    color:#909090;
    font-size:12px;
    text-align: center;
    line-height: 20px;
}

.page-btn.active{
    background:#909090;
    color:#fff;
}

.prev,.next{
    width:55px;
    height:20px;
    border:1px solid #909090;
    text-decoration: none;
    color:#909090;
    font-size:12px;
    text-align: center;
    line-height: 20px;
}

.prev:active,.next:active{
    background:#ccc;
}







